---
import MainLayout from "../layouts/main-layout.astro";
import { motion } from "framer-motion";
---

<MainLayout />

<main class="pl-5 pr-5">
  <p class="font-bold text-2xl mb-3">
    Hi. My name is <span class="bg-lime-500">Theo</span>.
  </p>
  <p class="font-bold text-lg mb-10">
    Im a passionate web developer and tech enthusiast.
  </p>

  <div class="flex space-x-5 z-0">
    <img class="finger1" src="./zwei.png" alt="peace" width="65" height="69" />
    <img class="finger2" src="./zwei.png" alt="peace" width="65" height="69" />
    <img class="finger3" src="./zwei.png" alt="peace" width="65" height="69" />
  </div>
</main>
