---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout />

<main class="pl-5 pr-5">
  <p class="font-bold text-2xl">
    Hi. My name is <span class="bg-lime-500">Theo</span>.
  </p>
  <p class="font-bold text-lg">
    Im a passionate web developer and tech enthusiast.
  </p>
</main>
