---
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout />

<main class="pl-5 pr-5">
  <p class="font-bold text-2xl mb-3">
    Hi. My name is <span class="bg-lime-500">Theo</span>.
  </p>
  <p class="font-bold text-lg mb-10">
    Im a passionate web developer and tech enthusiast.
  </p>
  <div class="flex space-x-5">
    <img src="./zwei.png" alt="peace" width="65" height="69" />
    <img src="./zwei.png" alt="peace" width="65" height="69" />
    <img src="./zwei.png" alt="peace" width="65" height="69" />
  </div>
</main>
