---
import MainLayout from "../layouts/main-layout.astro";
import Footer from "../components/footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Its me Theo!</title>
  </head>
  <body>
    <MainLayout />

    <main class="flex flex-col xl:flex-row pl-5 pr-5 xl:pr-10 xl:pl-10">
      <div class="colLeft flex-1">
        <p class="font-bold text-2xl mb-3">Hej.</p>
        <p class="font-bold text-xl mb-3">My name is Theo!</p>
        <p class="text-lg mb-10">
          Im a passionate web developer and tech enthusiast. On this page, you
          have a quick overview of the topics im interested in. Check out the
          other pages for more information if you want to know about projects I
          have made.
        </p>
      </div>

      <div class="colRight flex flex-col flex-1"></div>
    </main>

    <div class="fixed left-0 bottom-0 w-full">
      <div class="absolute bottom-20 right-40 xl:w-[450px] md:w-72 w-52">
        <img class="-z-1" src="./laptop.png" alt="nerd avatar" />
      </div>

      <Footer />
    </div>
  </body>
</html>
