---
import MainLayout from "../layouts/main-layout.astro";
import { motion } from "framer-motion";
import Footer from "../components/footer.astro";
---

<MainLayout />
<div class="flex justify-center items-center">
  <main
    class="pl-5 pr-5 xl:pr-10 xl:pl-10 max-w-6xl grid sm:grid-cols-1 justify-center md:gap-x-10"
  >
    <div>
      <p class="font-bold text-2xl mb-3">
        Hi. My name is <span class="bg-lime-500">Theo</span>.
      </p>
      <p class="font-bold text-lg mb-10">
        Im a passionate web developer and tech enthusiast.
      </p>
      <div class="flex space-x-5 z-0 mb-10">
        <img
          class="finger1"
          src="./zwei.png"
          alt="peace"
          width="65"
          height="69"
        />
        <img
          class="finger2"
          src="./zwei.png"
          alt="peace"
          width="65"
          height="69"
        />
        <img
          class="finger3"
          src="./zwei.png"
          alt="peace"
          width="65"
          height="69"
        />
      </div>
    </div>

    <div>
      <p class="font-bold text-xl mb-3">May I introduce myself?</p>
      <p class="text-lg mb-10">
        After floating around looking for a profession which is fun and makes me
        happy I found myself programming a few years ago.
      </p>
    </div>

    <div>
      <p class="font-bold text-xl mb-3">Game Development and discipline</p>
      <p class="text-lg mb-10">
        As a kid a was totally into gaming. With <span class="bg-[#00B4FF]"
          >Unity</span
        > and <span class="bg-[#007ACC]">C#</span> I have touched the programming
        world for the first time. I officially founded a one man indie-game studio
        and started working on a game.
      </p>
    </div>

    <div>
      <p class="font-bold text-xl mb-3">Curiosity and the will to learn</p>
      <p class="text-lg mb-10">
        The big field of programming with all its professions made me to curious
        to stick on gamedev. I started to dive into new worlds like hardware
        programming with <span class="bg-[#00979C]">arduino</span>, some script
        kiddie hacks with <span class="bg-[#3776AB]">python</span>, web
        development with <span class="bg-[#F7DF1E]">JS</span>, machine learning
        with tensorflow etc.
      </p>
    </div>
  </main>
</div>
<Footer />
