<html>
  <body>
    <main>
      <div
        class="flex justify-around items-center bg-[#0b1120] h-24 pl-5 pr-5 xl:pl-10 xl:pr-10"
      >
        <img height={44} width={44} src="./twitter.svg" alt="Image" />
        <img height={44} width={44} src="./linkedin.svg" alt="Image" />
      </div>
    </main>
  </body>
</html>
