---
import Nav from "../components/Nav";
import "../styles/main.css";
---

<body class="font-poppins m-0">
  <main>
    <Nav client:load />

    <slot />

    <!--All the different pages to be rendered here -->
  </main>
</body>
