---
import Nav from "../components/Nav";
import "@fontsource/poppins";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Hi. My name is Theo" />
  </head>

  <body>
    <main>
      <Nav client:load />
      <slot />
      <!--All the different pages to be rendered here -->
    </main>
  </body>
</html>
