---
import Nav from "../components/Nav";
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Hi. My name is Theo" />
    <link
      rel="preload"
      href="/fonts/poppins.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>

  <body class="font-poppins">
    <main>
      <Nav client:load />
      <slot />
      <!--All the different pages to be rendered here -->
    </main>
  </body>
</html>
